@import 'variables';
@import 'media-queries';

header {
    background-color: $primary-color;
    border-bottom: $primary-border;
    z-index: 9999;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;

  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
    h1 {
      color: $secondary-color;
      padding: .75em;
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        @include tablet {
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
        }
      }
    }
  }

.container {
  background-color: white;
  height: 25vh;
}

.link {
  font-size: large;
  padding-right: 4em;
  color: black;

  &:hover {
    color: $secondary-color
  }

  @include tablet {
    padding: 0;
  }
}

.link-active {
  font-size: large;
  padding-right: 4em;
  color: $secondary-color;
  text-decoration: underline;

  @include tablet {
    padding: 0;
  }
}

.highlight-word-primary {
  color: $primary-color;
  font-weight: 700;
}

.highlight-word-secondary {
  color: $secondary-color;
  font-weight: 700;
}