@import 'variables';

header {
    background-color: $primary-color;
    color: $secondary-color;
    position: sticky;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
  
    h1 {
      // TODO: add variable?
      color: $secondary-color;
      padding: .75em;
    }
  
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }

.container {
  // TODO: add variable 
  background-color: lightgray;
  height: 25vh;
}

.link {
  font-size: large;
  padding-right: 4em;
  &:hover {
    color: $secondary-color
  }
}