@import 'variables';
@import 'media-queries';

.metricContainer {
    height: 20vh;
    border: 10px solid $secondary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5em;
    margin-top: 5em;
    flex-direction: row;
    text-align: center;

    @include tablet {
        flex-direction: column;
        height: 75vh;
        margin-bottom: 5em;
    }
}

.title {
    color: $primary-color;
    font-size: xx-large;
}

.value {
    color: black;
    font-weight: 700;
    font-size: x-large;
}