@import 'variables';
@import 'media-queries';

.metricContainer {
    height: 20vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5em;
    margin-top: 5em;
    flex-direction: row;
    text-align: center;
    border: $primary-border;
    @include tablet {
        flex-direction: column;
        height: 55vh;
    }
}

.title {
    color: $primary-color;
    font-size: xx-large;
}

.value {
    color: black;
    font-size: x-large;
}