@import "variables";
@import 'media-queries';

.carousel-container {
  margin: 5rem;
  padding: 1em;
  border-radius: 25px;
  border: $primary-border;
  background: $secondary-color;
  @include tablet {
    margin: 0;
  }
}

.slide-content {
}

.image-container {
  border: 25px;
}