@import 'variables';
@import 'media-queries';

footer {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  justify-content: center;
  flex-direction: column;

  span {
    display: flex;
    flex-direction: row;

    ul {
        padding: 0 3vw;
    }
  }
}

.footerHeadings {
  color: $secondary-color;
}

.footerContainer {
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.link {
  color: $secondary-color;
  display: flex;
  flex-direction: column;

  @include tablet {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: medium;
  align-items: center;
  color: white;
  padding: 0.25em 0;
}