@import 'variables';

footer {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  justify-content: center;
  flex-direction: column;

  span {
    display: flex;
    flex-direction: row;

    ul {
        padding: 0 3vw;
    }
  }
}

.footerHeadings {
  color: $secondary-color;
}

.link {
  color: $secondary-color;
  display: flex;
  flex-direction: column;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}