@import 'variables';
@import 'media-queries';

.errorLabel {
  position: absolute;
  left: 60%;
  color: red;

  @include tablet {
    padding-top: 5em;
  }
}

.formContainer {
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20vw;
  padding: 0 1em;
  border-radius: 25px;
  border: 10px solid $secondary-color;

  @include tablet {
    width: 90vw;
    height: 65vh
  }
}