@import 'variables';
@import 'media-queries';

.about-bubble-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 1em;
  font-weight: 700;
  margin: 2em 3em;
  border: 10px solid $secondary-color;
  width: 10em;
  text-align: center;
  height: 10em;
  &:hover {
    cursor: pointer;
  }
}

.about-bubble-secondary {
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  padding: 3em;
  margin: 2em 3em;
  cursor: pointer;
  border-radius: 100%;
  border: 10px solid $primary-color;
  width: 10em;
  text-align: center;
  height: 10em;

  &:hover {
    cursor: pointer;
  }
}

.bubble-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: column;
  }
}