@import 'variables';

body {
    margin: 0;
}

.landingContainer {
    display: flex;
    padding-top: 15em;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
 color: $primary-color;
}

h3 {
 color: $primary-color;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.slide-in-left {
    font-weight: 700;
    animation: slideInFromLeft 1s forwards; 
    opacity: 0;
    font-size: xx-large;
}

.slide-in-right {
    font-weight: 400;
    animation: slideInFromRight 1s forwards;
    color: black;
    opacity: 0;
    font-size: large;
}