@import 'variables';
@import 'media-queries';

section {
    background-color: $secondary-color;
    height: 100vh;
}

.heading {
    font-size: 2em;
    margin: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: underline;
    justify-content: center;
    padding: 1em 0;
    color: $primary-color;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20vw;

    @include tablet {
        flex-direction: column;
    }
}