@import 'variables';

.aboutContainer {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: $primary-border;
}

.cardContainer {
  display: flex;
  align-items: center;
  padding: 0 15em;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  font-size: 1.25em;
}