@import 'variables';
@import 'media-queries';

.aboutContainer {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  @include tablet {
    flex-direction: column;
    height: 100vh;
  }
}

.text-left {
  width: 50vw;
  text-align: center;
  font-size: x-large;
  @include tablet {
    width: 80vw;
  }
}